/Oshurkov_8PI51_IMOI_5/cifar100_data
/Oshurkov_8PI51_IMOI_5/cifar3_dataset/
/Oshurkov_8PI51_IMOI_4/data/
/Oshurkov_8PI51_IMOI_4/dataset/
/Oshurkov_8PI51_IMOI_4/mnist_data/
/Oshurkov_8PI51_IMOI_3/dataset/
/Oshurkov_8PI51_IMOI_3/mnist_data/